# Ignore VSCode configuration directory
.vscode/

# Ignore directories
Arch/
Export/
Filtered_Config_hist/
Plot/

# Ignore specific files
xResults_bckp_240916115050.txt
xResults_bckp_All.txt

.codegpt